<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset = "UTF-8" />
        <meta name = "author" content = "John Marcos dos Santos" />
        <meta name = "robots" content = "index, follow" />
        <link rel = "icon" href = "{% static 'imagens/icon_anjos_de_plantao.ico' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<link rel="stylesheet" href="{% static 'css/servicos_css.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				<title>{% block title %}Página Inicial{% endblock %}</title>
	</head>
	<body>
		<main>
			<div id="box_opcoes_servicos">
				{% block content %}
				{% endblock %}
    	</div>
		</main>
	</body>
</html>
