{% extends 'blog/base_servicos_individuais.html' %}
{% block title %}Cadastrar Pessoa{% endblock %}
		{% block content %}

			<a href="../servicos/" id="posicao_botoes_voltar">
				<button type="submit" name="botao_voltar">Voltar</button>
			</a>

			<form action="#salvar" method="post">

				<div id="posicao_botoes">
					<button type="reset" name="botao_limpar_dados">Limpar Dados</button>
					<button type="submit" name="botao_salvar">Salvar</button>
				</div>
				<br>
				<br>

				<div class="box_texto_formularios">
					<fieldset id="legend_tipo_de_cadastro">
						<legend>Tipo de Cadastro</legend>
						<input type="radio" name="tipoCadastroPessoaFisica" value="tipo_pessoa_fisica" checked> Pessoa Física
						<input type="radio" name="tipoCadastroPessoaJuridica" value="tipo_pessoa_juridica"> Pessoa Jurídica
					</fieldset>
				</div>

				<div class="box_texto_formularios">
					<fieldset id="legend_tipo_de_pessoa">
						<legend>Tipo de Pessoa</legend>
						<input type="checkbox" name="tipoPessoaDoador" value="" checked> Doador
						<input type="checkbox" name="tipoPessoaRecebedor" value=""> Recebedor
					</fieldset>
				</div>

				<div class="box_texto_formularios">
					<label for="nome"> Nome </label>
					<input autofocus="autofocus" type="text" id="entrada_nome" name="nome" required="required" style="width: 400px;">
				</div>

				<div class="box_texto_formularios">
					<label for="cpfCnpj"> CPF/CNPJ </label>
					<input type="text" pattern="[0-9]{11-14}" name="cpfCnpj" required="required" style="width: 150px;">
				</div>

				<div class="box_texto_formularios">
					<label for="endereco"> Endereço </label>
					<input type="text" name="endereco" required="required" style="width: 400px;">
				</div>

				<div class="box_texto_formularios">
					<label for="cidade"> Cidade </label>
					<input type="text" name="cidade" required="required" style="width: 280px;">
					<label for="estado"> Estado </label>
					<input type="text" name="estado" required="required" style="width: 200px;">
				</div>

				<div class="box_texto_formularios">
					<label for="endereco"> Telefone 1 </label>
					<input type="tel" name="telefone1" style="width: 160px;">
					<label for="endereco"> Telefone 2 </label>
					<input type="tel" name="telefone2" style="width: 160px;">
				</div>

				<div class="box_texto_formularios">
					<fieldset id="legend_observacoes">
              			<legend>Observações</legend>
	              			<br>
	              			<textarea class="box_texto_formularios" rows="6" cols="40" name="observacoes"></textarea>
            		</fieldset>
				</div>


			</form>
{% endblock %}s
