<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8" />
        <meta name = "author" content = "John Marcos dos Santos" />
        <meta name = "robots" content = "index, follow" />
        <meta http-equiv = "refresh" content = "300" />
        <link rel = "icon" href = "../../icon_anjos_de_plantao.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../servicos_individuais_css.css">        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
		<title>Caixa Geral</title>
</script>

	</head>
	<body>

		<div id="box_fundo">	

			<a href="../servicos.html" id="posicao_botoes_voltar">
				<button type="submit" name="botao_voltar">Voltar</button>
			</a>

			<form action="#salvar" method="post">		

				<div id="posicao_botoes"> 	
					<button type="reset" name="botao_limpar_dados">Limpar Dados</button>
					<button type="submit" name="botao_salvar">Salvar Transação</button>
				</div>
				<br>
				<br>	

				<div class="box_texto_formularios">
					<label for="local"> Doador/Recebedor </label>
					<input type="text" name="entrada_doador_recebedor" required="required" style="width: 200px;">
					<button id="botao_opcoes" type="submit" name="botao_salvar">
						<i class="material-icons">search</i>Pesquisar
					</button>
				</div>
				
				<div id="box_saldo">
					Saldo: R$ 
				</div>
				
				<div class="box_texto_formularios">
					<fieldset id="legend_tipo_de_pessoa">
						<legend>Tipo</legend>
						<input type="radio" name="entrada_tipo_doacao" value="" checked> Doação
						<input type="radio" name="entrada_tipo_doacao" value=""> Recebimento
					</fieldset>
				</div>

				<div class="box_texto_formularios">
					<label for="data"> Data </label>
					<input autofocus="autofocus" type="date" id="entrada_data" required="required" style="margin-right: 20px;">
				</div>

				<div class="box_texto_formularios">
					<label for="endereco"> Valor (Opicional) </label>
					<input type="text" name="entrada_endereco" required="required" style="width: 130px;">
				</div>			

				<div class="box_texto_formularios">
					<fieldset id="legend_observacoes">
              			<legend>Observações</legend>
	              			<br>
	              			<textarea class="box_texto_formularios" rows="6" cols="40" name="recado"></textarea>
            		</fieldset>
				</div>


			</form>
			

		</div>

	</body>
</html>