{% extends 'blog/base_servicos_individuais.html' %}
{% block title %}Consultas{% endblock %}
		{% block content %}

				<div class="box_texto_formularios">
					<fieldset id="legend_consultas">
              			<legend>Consultas</legend>

					<b>PESSOAS</b><br>
					{% for pessoa in pessoas %}
					<tbody>
						<tr>
							<td>Nome: {{ pessoa.nome }}</td>
							<td>CPF/CNPJ: {{ pessoa.cpfCnpj }}</td>
						</tr>
					</tbody>
					<br><br>
					{% endfor %}

					<b>EVENTOS</b><br>
					{% for evento in eventos %}
					<tbody>
						<tr>
							<td>Nome: {{ evento.nome }}</td>
							<td>Local: {{ evento.local }}</td>
						</tr>
					</tbody>
					<br><br>
					{% endfor %}

					<b>TRANSAÇÕES</b><br>
					{% for transacao in transacoes %}
					<tbody>
						<tr>
							<td>Valor: {{ transacao.valor }}</td>
							<td>Obervações: {{ transacao.observacoes }}</td>
						</tr>
					</tbody>
					<br><br>
					{% endfor %}

					<b>DOAÇÕES</b><br>
					{% for doacao in doacoes %}
					<tbody>
						<tr>
							<td>Valor: {{ doacao.valor }}</td>
							<td>Obervações: {{ doacao.observacoes }}</td>
						</tr>
					</tbody>
					<br><br>
					{% endfor %}
            </fieldset>
				</div>
		{% endblock %}
