<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset = "UTF-8" />
        <meta name = "author" content = "John Marcos dos Santos" />
        <meta name = "robots" content = "index, follow" />
        <link rel = "icon" href = "{% static 'imagens/icon_anjos_de_plantao.ico' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
				<link rel="stylesheet" href="{% static 'css/index_login_css.css' %}">
		<title>Anjos de Plantão</title>
	</head>
	<body>

		<div class="box_login">

			<h1 id="box_login_titulo" >Anjos de Plantão</h1>

			<form id="box_login_posicao_formularios" action="servicos/" method="post">
				{% csrf_token %}
				<div class="box_login_texto_formularios">
					<label for="usuario"> Usuário </label>
					<input autofocus="autofocus" type="text" id="entrada_usuario" required="required">
				</div>

				<div class="box_login_texto_formularios">
					<label for="senha"> Senha </label>
					<input type="password" id="entrada_senha" required="required">
				</div>

				<div id="box_login_posicao_botoes">
					<button type="reset" name="botao_limpar_dados">Limpar</button>
					<button type="submit" name="botao_entrar">Entrar</button>
				</div>


			</form>
		</div>

	</body>
</html>
