{% extends 'blog/base_servicos.html' %}
		{% block content %}
			{% if user.is_authenticated %}

				<div id="apresentacao_usuario">
					Bem Vindo!
					<br>
					Usuário logado: <b><i>{{ user.username }}</i></b>
				</div>

        	<a href="../cadastrar_pessoa/">
        		<div class="botao_opcoes">
          			<div class="titulo_botao_opcoes">Cadastrar Pessoa</div>
          			<i class="material-icons">person_add</i>
        		</div>
        	</a>

        	<a href="../cadastrar_evento/">
        		<div class="botao_opcoes">
                	<div class="titulo_botao_opcoes">Cadastrar Evento</div>
          			<i class="material-icons">event_note</i>
        		</div>
        	</a>

        	<a href="../doacoes/">
        		<div class="botao_opcoes">
            		<div class="titulo_botao_opcoes_menor">Doações</div>
            		<i class="material-icons">favorite_border</i>
        		</div>
        	</a>

        	<a href="../caixa_geral/">
        		<div class="botao_opcoes">
          	    	<div class="titulo_botao_opcoes_menor">Caixa Geral</div>
          	    	<i class="material-icons">monetization_on</i>
        		</div>
        	</a>

        	<a href="http://127.0.0.1:8000/admin/auth/user/">
        		<div class="botao_opcoes">
          	       <div class="titulo_botao_opcoes">Cadastrar Usuário</div>
          	       <i class="material-icons">account_circle</i>
        		</div>
        	</a>

        	<a href="../consultas/">
        		<div class="botao_opcoes">
          			<div class="titulo_botao_opcoes_menor">Consultas</div>
          			<i class="material-icons">search</i>
        		</div>
        	</a>

        	<a href="{% url 'logout' %}">
        		<div class="botao_opcoes">
          			<div class="titulo_botao_opcoes">Sair do Sistema</div>
          			<i class="material-icons">power_settings_new</i>
        		</div>
        	</a>
				{% else %}
					<div id="nao_logado">
						Você não está logado.<br>Faça o login para continuar.
						<br><br>
		  			<a href="{% url 'login' %}">Clique aqui para retornar para a página de login!</a>
					</div>
				{% endif %}
			{% endblock %}
