@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Raleway');

	body {
		background-color: #66b3ff;
		background-image: url("../imagens/logo_anjos_de_plantao.png");
		background-repeat: repeat-x;
    background-size: 400px;
    background-position: bottom;
    opacity: 0.9;
	}

	.box_login {
		background-color: #E0FFFF;
		max-width: 300px;
		max-height: 380px;
		margin: 10% auto auto auto;
		border: 4px solid white;
		position: relative;
		border-radius: 34px;
		padding: 1%;
	}

	#box_login_titulo {
		font-family: 'Raleway', sans-serif;
		text-align: center;
		font-size: 45px;
		max-height: 13%;
		opacity: 0.8;
		display: block;
		margin: 0 auto;
	}

	.box_login_texto_formularios {
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		opacity: 0.8;
		text-align: center;
	}

	#box_login_posicao_formularios {
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	label {
		font-size: 18px;
		padding: 0 5% 5% 5%;
	}

	li, ul {
		color: red;
		padding: 1px 1px 0 1px;
		list-style-type: none;
	}

	input, button {
		border: 1px solid grey;
		border-style: outset;
		border-radius: 15px;
		border-left: 7px solid black;
		border-right: 7px solid black;
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		text-align: center;
	}

	#box_login_posicao_botoes {
		padding: 10px 0 0 0;

	}
